{% extends "master_template.html" %}
{%block title%}
  TimeTable
{%endblock%}

{% block body%}
<style>
@media print {
  #printPageButton {
    display: none;
  }
}
.printNotButton {
		
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
		background-color: white; 
		color: black; 
		border: 2px solid #0d90db;

	}
.printNotButton:hover {
  background-color: #10a2f7;
  color: white;
}

</style>
  <table class="table">
    <thead>
      <tr>
        <th>Session</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
         <th>Thursday</th>
        <th>Friday</th>

      </tr>
    </thead>
    <tbody>
      {%for time in timetable%}
      <tr>
        <td>{{time.session}}</td>
        <td>{{time.monday}}</td>
        <td>{{time.tuesday}}</td>
         <td>{{time.wednesday}}</td>
        <td>{{time.thursday}}</td>
        <td>{{time.friday}}</td>


      </tr>
      {%endfor%}
    </tbody>
  </table>
  <br><br>
  <!-- <a href="/time"><button>View Timetable</button></a> -->
  <!-- <input id="printNotButton" class ="printNotButton" type="button"value="Print Notification" onClick="window.print()"></button> -->
  <a href="/time"><input id="printNotButton" class ="printNotButton" type="button"value="View TimeTable"</button></a>
  {%endblock%}